<!DOCTYPE html>
<html>
  <head>
    <title>{{ .HTMLTitle }}</title>
    <!-- needed for adaptive design -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{.BaseURL}}/assets/style.css" rel="stylesheet">

    <!--
    Redoc doesn't change outer page styles
    -->
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <redoc spec-url='{{.OpenAPISpecURL}}'></redoc>
    <script src="{{.BaseURL}}/assets/redoc.js"> </script>
  </body>
</html>
